<%- include ./partials/head.ejs %>
<a class="back-btn" href="/movies">back</a>
<h2>Genres</h2>
<% genresData.genres.forEach(function(genre) { %>
	<a href="/movies/genres/<%= genre.name %>/<%= genre.id %>"><%- genre.name %></a>
<% }) %>

<%- include ./partials/footer.ejs %>