<%- include ./partials/head.ejs %>

<h1>Results for <%= query %></h1>
<% moviesData.forEach(function(movie) { %>
	<a href="/movies/<%- movie.id %>"><%- movie.title %></a>
<% }) %>

<%- include ./partials/footer.ejs %>